* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16pt;
}

body {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

textarea, input, select {
  display: block;
  font: inherit;
  width: 100%;
  margin-bottom: 0.5em;
}

textarea {
  font-family: monospace;
  height: 6em;
  resize: vertical;
}

input[type=submit] {
  padding: 1em;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #42b8dd;
}
